<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <style>
    .pagination li {
      display: inline;
      margin-right: 10px;
    }
  </style>
  <meta charset="UTF-8">
  <title>Car</title>
</head>
<body>
<h1>회사 정보 확인</h1>
<table border="1">
  <tr>
    <th>순번</th>
    <th>회사명</th>
    <th>국가</th>
  </tr>
  <tr th:each="company: ${companyList}">
    <td th:text="${company.id}"></td>
    <td th:text="${company.companyName.value}"></td>
    <td th:text="${company.companyNation.value}"></td>
  </tr>
</table>
<nav style="text-align: center;">
  <ul class="pagination"
      th:with="start=${T(java.lang.Math).floor(companyList.number/10) * 10 + 1},
               last=(${start + 9 < companyList.totalPages ? start + 9 : companyList.totalPages})">
    <li>
      <a th:href="@{./companyList(page=1)}" aria-label="First">
        <span aria-hidden="true"> 처음 </span>
      </a>
    </li>
    <li th:class="${companyList.first} ? 'disabled'">
      <a th:href="${companyList.first} ? '#' : @{./companyList(page=${companyList.number})}" aria-label="Previous">
        <span aria-hidden="true"> &lt; </span>
      </a>
    </li>

    <li th:each="page: ${#numbers.sequence(start, last)}"
        th:class="${page == companyList.number +1} ? 'active'">
      <a th:text="${page}"
         th:href="@{./companyList(page=${page})}" aria-label="Previous"></a>
    </li>
    <li th:class="${companyList.last} ? 'disabled'">
      <a th:href="${companyList.last} ? '#' : @{./companyList(page=${companyList.number + 2})}" aria-label="Next">
        <span aria-hidden="true"> &gt; </span>
      </a>
    </li>
    <li>
      <a th:href="@{./companyList(page=${companyList.totalPages})}" aria-label="Last">
        <span aria-hidden="true"> 끝 </span>
      </a>
    </li>
  </ul>
  <a href="./">홈</a>
</nav>
</body>
</html>